/* Rules for Colors*/
.Header-container {
  background: white;
  margin-top: 0px;
}

.post-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.Feed-Container {
  background: ivory;
}

body {
  background: #bdbdbd;
}

.picture {
  width: 100%;
}

.style-container {
  width: 600px;
  margin: auto;
}
